.mstheme
{
	separator-image: url(indhorsa.gif);
	list-image-1: url(indbul1a.gif);
	list-image-2: url(indbul2a.gif);
	list-image-3: url(indbul3a.gif);
	nav-banner-image: url(indbanna.gif);
	navbutton-horiz-normal: url(indhbuda.gif);
	navbutton-horiz-hovered: url(indhbuha.gif);
	navbutton-horiz-pushed: url(indhbusa.gif);
	navbutton-vert-normal: url(indvbuda.gif);
	navbutton-vert-hovered: url(indvbuha.gif);
	navbutton-vert-pushed: url(indvbusa.gif);
	navbutton-home-normal: url(indhomda.gif);
	navbutton-home-hovered: url(indhomha.gif);
	navbutton-home-pushed: url(indhomsa.gif);
	navbutton-next-normal: url(indnexda.gif);
	navbutton-next-hovered: url(indnexha.gif);
	navbutton-next-pushed: url(indnexsa.gif);
	navbutton-prev-normal: url(indpreda.gif);
	navbutton-prev-hovered: url(indpreha.gif);
	navbutton-prev-pushed: url(indpresa.gif);
	navbutton-up-normal: url(indupda.gif);
	navbutton-up-hovered: url(indupha.gif);
	navbutton-up-pushed: url(indupsa.gif);
}
.mstheme-bannertxt
{
	font-family: Trebuchet MS, Arial, Helvetica;
	color: rgb(255, 255, 255);
	font-size: 6;
	font-style: normal;
	font-weight: normal;
}
.mstheme-horiz-navtxt
{
	font-family: Trebuchet MS, Arial, Helvetica;
	color: rgb(0, 0, 0);
	font-size: 2;
	font-style: normal;
	font-weight: bold;
}
.mstheme-vert-navtxt
{
	font-family: Trebuchet MS, Arial, Helvetica;
	color: rgb(0, 0, 0);
	font-size: 2;
	font-style: normal;
	font-weight: bold;
}
.mstheme-navtxthome
{
	font-family: Arial, Helvetica;
	color: rgb(0, 0, 0);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
}
.mstheme-navtxtnext
{
	font-family: Arial, Helvetica;
	color: rgb(0, 0, 0);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
}
.mstheme-navtxtprev
{
	font-family: Arial, Helvetica;
	color: rgb(0, 0, 0);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
}
.mstheme-navtxtup
{
	font-family: Arial, Helvetica;
	color: rgb(0, 0, 0);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
}
ul
{
	list-style-image: url(indbul1a.gif);
}
ul ul
{
	list-style-image: url(indbul2a.gif);
}
ul ul ul
{
	list-style-image: url(indbul3a.gif);
}
a:link
{
	color: rgb(0, 0, 255);
}
a:active
{
	color: rgb(255, 0, 0);
}
a:visited
{
	color: rgb(192, 192, 192);
}
body
{
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
}
table
{
	table-border-color-light: rgb(0, 0, 0);
	table-border-color-dark: rgb(0, 0, 0);
	border-color: rgb(0, 0, 0);
}
th
{
	border-color: rgb(0, 0, 0);
}
td
{
	border-color: rgb(0, 0, 0);
}
h1
{
	color: rgb(0, 0, 102);
}
h2
{
	color: rgb(51, 51, 153);
}
h3
{
	color: rgb(102, 102, 102);
}
h4
{
	color: rgb(0, 0, 102);
}
h5
{
	color: rgb(51, 51, 153);
}
h6
{
	color: rgb(102, 102, 102);
}
hr
{
}
button
{
	background-color: rgb(0, 0, 102);
	color: rgb(255, 255, 255);
}
label
{
	color: rgb(0, 0, 0);
}
.mstheme-text
{
}
textarea
{
	color: rgb(0, 0, 0);
}
fieldset
{
	color: rgb(0, 0, 0);
}
legend
{
	color: rgb(102, 102, 102);
}
select
{
	color: rgb(0, 0, 0);
}
caption
{
	color: rgb(102, 102, 102);
}
.mstheme
{
	top-bar-button: url(indglob.gif);
	margin-left: 0;
	navbutton-background-color: rgb(255,255,255);
	text-indent: 0;
	margin-right: 0;
	text-align: left;
	word-spacing: 0;
	line-height: 100%;
	margin-top: 0;
	margin-bottom: 0;
}
.mstheme-topbar-font
{
	font-family: Arial, Helvetica;
	color: rgb(204,204,204);
	font-size: 8pt;
}
body
{
	font-family: Verdana;
	background-image: url(cube1.gif);
	text-align: none;
	font-weight: normal;
	vertical-align: none;
	font-style: normal;
}
button
{
	border-top-style: solid;
	border-bottom-width: 1pt;
	border-left-width: 1pt;
	border-right-width: 1pt;
	font-family: Arial, Helvetica;
	font-style: normal;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-style: solid;
	font-size: 8pt;
	border-top-width: 1pt;
}
caption
{
	font-size: 14pt;
	font-family: Trebuchet MS, Arial, Helvetica;
	font-style: normal;
}
fieldset
{
	border-left-style: solid;
	border-bottom-width: 1pt;
	font-family: Arial, Helvetica;
	font-size: 8pt;
	border-top-width: 1pt;
	border-right-style: solid;
	border-left-width: 1pt;
	font-style: normal;
	border-right-width: 1pt;
	border-bottom-style: solid;
	border-top-style: solid;
}
h1
{
	font-family: Verdana;
	font-style: normal;
	vertical-align: none;
	font-weight: normal;
	text-align: none;
	font-size: 24pt;
}
h2
{
	font-style: normal;
	vertical-align: none;
	font-weight: normal;
	text-align: none;
	font-family: Verdana;
	font-size: 18pt;
}
h3
{
	font-weight: normal;
	font-style: normal;
	font-size: 14pt;
	vertical-align: none;
	text-align: none;
	font-family: Neuropol;
}
h4
{
	font-size: 12pt;
	font-weight: normal;
	font-style: normal;
	text-align: none;
	font-family: Neuropol;
	vertical-align: none;
}
h5
{
	text-align: none;
	font-family: Neuropol;
	font-size: 10pt;
	vertical-align: none;
	font-weight: normal;
	font-style: normal;
}
h6
{
	text-align: none;
	font-family: Neuropol;
	vertical-align: none;
	font-weight: normal;
	font-style: normal;
	font-size: 8pt;
}
label
{
	font-style: normal;
	font-size: 8pt;
	font-family: Arial, Helvetica;
}
label, .mstheme-label
{
	font-style: normal;
	font-family: Arial, Helvetica;
	font-size: 8pt;
}
legend
{
	font-style: normal;
	font-family: Trebuchet MS, Arial, Helvetica;
	font-size: 8pt;
}
marquee
{
	font-size: 14pt;
	font-family: Trebuchet MS, Arial, Helvetica;
}
select
{
	border-style:solid; font-style: normal;
	font-size: 8pt;
	font-family: Arial, Helvetica;
	
}
table
{
	font-weight: normal;
	font-family: Verdana;
	text-align: none;
	font-style: normal;
	vertical-align: none;
}
textarea
{
	border-style:solid; font-style: normal;
	font-family: Arial, Helvetica;
	font-size: 8pt
}
th
{
	font-style: normal;
	font-family: Trebuchet MS, Arial, Helvetica;
}
